.DS_Store
*.swp
UserInterfaceState.xcuserstate
.vscode
DerivedData
TestResult*
__MACOSX/
index.html
vendor/
fastlane/test_output/
screenshots/
buildServer.json
build.log

# Copyright-restricted audio files (do not commit to repository)
Shuffle100/resources/audio/inaba/
