.NormalMincho {
  font-family: ＭＳ Ｐ明朝, MS PMincho,ヒラギノ明朝 Pro W3, Hiragino Mincho Pro, serif;
}

h3 {
  padding-left:1em;
  background:#d5e7ba;
  border: #d5e7ba 1px solid;
  border-radius: 10px;
}

body{
  background:#f6e8ec;
}

@media (prefers-color-scheme: dark) {
  body{
      background-color: #9e3d3f;  /* すおう */
    color: #fff;
  }
  h3 {
      background:#1f3134;
      border: #1f3134 1px solid;
  }
  a {
      color: #2ca9e1;  /* あまいろ */
  }
}
